<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table >
    <thead>
    <tr>
        <th>checkbox</th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Date birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Action</th>

    </tr>

    </thead>

    <tbody>
    <tr th:each="employee : ${listEmployee}">
        <td ></td>
        <td th:text="${employee.getEmployeeId()}"></td>

        <td  th:text="${employee.getEmployeeName()}"></td>
        <td th:text="${employee.getDateOfBirth()}"></td>
        <td th:text="${employee.getGender()}"></td>
        <td th:text="${employee.getAddress()}"></td>
        <td th:text="${employee.getPhone()}"></td>
        <td ><img th:src="@{'/image/' + ${employee.getImage()}}"></td>
        <td > <a th:href="@{'/employee/update/' + ${employee.employeeId}}">Edit</a>



    </tr>

    </tbody>

</table>
<a value="Add Employee" name="Add Employee" th:href="@{/employee/add}"> Add Employee</a>

<!--<a value="Add Employee" name="Update Employee" th:each="employee:${listEmployee}" th:href="@{'/employee/update/'+${ employee.employeeId } }"> Update Employee</a>-->
<a value="Add Employee" name="Delete Employee" th:each="employee:${listEmployee}" th:href="@{'/employee/delete/'+${ employee.employeeId } }"> Delete Employee</a>
</body>
</html>