<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table >
  <thead>
  <tr>
    <th>checkbox</th>
    <th>Code</th>
    <th>Vaccine Type Name</th>
    <th>Description</th>
    <th>Status</th>


  </tr>

  </thead>

  <tbody>
  <tr th:each="vaccineType : ${listVaccineType}">
    <td></td>
    <td th:text="${vaccineType.getVaccineTypeId()}"></td>
    <td th:text="${vaccineType.getVaccineTypeName()}"></td>
    <td th:text="${vaccineType.getDescription()}"></td>
    <td th:text="${vaccineType.getStatus()}"></td>


    <td > <a th:href="@{'/employee/update/' + ${employee.employeeId}}">Edit</a>



  </tr>

  </tbody>

</table>
<a value="Add Employee" name="Add Employee" th:href="@{/employee/add}"> Add Employee</a>

<!--<a value="Add Employee" name="Update Employee" th:each="employee:${listEmployee}" th:href="@{'/employee/update/'+${ employee.employeeId } }"> Update Employee</a>-->
<a value="Add Employee" name="Delete Employee" th:each="employee:${listEmployee}" th:href="@{'/employee/delete/'+${ employee.employeeId } }"> Delete Employee</a>
</body>
</html>